[submodule "cwiczenie2"]
	path = cwiczenie2
	url = git@github.com:TrebuszeQ/pp-cwiczenia2.git
[submodule "cwiczenie3"]
	path = cwiczenie3
	url = git@github.com:TrebuszeQ/pp-cwiczenia3.git
[submodule "cwiczenie4"]
	path = cwiczenie4
	url = git@github.com:TrebuszeQ/pp-cwiczenie4.git
[submodule "cwiczenie5"]
	path = cwiczenie5
	url = git@github.com:TrebuszeQ/pp-cwiczenie5.git
